**/__pycache__/**
.env
.env.local
lib/**
storage
storage/**
data/**
patent_model_checkpoints/**
models/
model*.pt
node_modules
.serverless/**
s_*.py
serverless_sdk
.requirements.zip
company_dedup_settings
company_dedup_training.json
terms.json
