**/__pycache__/**
.env
.env.local
lib/**
storage
storage/**
sec_docs
data/**
predictions.json
patent_model_checkpoints/**
clindev_model_checkpoints/**
models/
model*.pt
node_modules
.serverless/**
s_*.py
serverless_sdk
.requirements.zip
company_dedup_settings
company_dedup_training.json
terms.json
formatted_data.json
binder_training_data.json
mps/**
umls_betweenness.json
yfinance.cache
umls_ancestors.json
biosym-etl-cache/**
src/biosym-etl-cache/**
biosym-patents-dev/**
