boto3
bs4
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl#sha256=9012584a8fcf5bc61bedb13a4b511fb81ffff9f770958ee06366671be10632e9
en-core-sci-lg @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_lg-0.5.3.tar.gz#sha256=df78175e425965fd4131a0b66fddaaaa21ee8515c773794e721100679a30d9b2
exrex
google.cloud.bigquery
google.cloud.storage
kneed
langchain
langchain_openai
nmslib @ git+https://github.com/nmslib/nmslib.git@ade4bcdc9dd3719990de2503871450b8a62df4a5#subdirectory=python_bindings
openai
polars
prisma
psycopg[binary,pool]
pyarrow
pydash
pydantic
pytest-asyncio
python-dotenv
regex
requests
scispacy
scikit-learn
sec-api
sentence_transformers==2.5.0
spacy
spacy-lookups-data
pytorch-ignite
requests_cache
transformers==4.36.0
typing_extensions
yfinance
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cpu
